*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# IntelliJ
.idea/
*.idea
*.iml

# Maven
flamingo2-*/target/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store

flamingo2-web/src/main/webapp/resources/ext/build/.sass-cache/
flamingo2-web/src/main/webapp/resources/build/.sass-cache/
flamingo2-web/src/main/webapp/resources/build/temp/production/Flamingo2/slicer-temp/.sass-cache/
flamingo2-web/src/main/webapp/resources/ext/build/temp/flamingo2-theme/slicer-temp/.sass-cache/

?APP_CONFIG?
_mac/